/* CreateListing.css */
.listing-container {
  position: relative;
  top: 20px;
  padding: 1.5rem;
  max-width: 80rem; 
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 0.5rem;
}

/* Title styling */
.listing-title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  color: #2d3748;
  margin-bottom: 1.5rem;
}


/* Form styling */
.listing-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  /* max-width: 24rem; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Form group */
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label styling */
.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #2d3748;
  margin-bottom: 0.5rem;
}

/* Input styling */
.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.2s ease;
}

.form-input:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* Textarea styling */
.form-textarea {
  height: 100px;
  resize: none;
}

/* File input styling */
.file-input-wrapper {
  position: relative;
  width: 100%;
}


.file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  transition: border-color 0.2s ease;
}

.file-label:hover {
  border-color: #6366f1;
}

.file-label span {
  color: #6b7280;
}

/* Next button styling */
.next-button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #ef4444;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.next-button:hover {
  background-color: #dc2626;
}

.next-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ef4444;
}

/* Responsive design */
@media (max-width: 640px) {
  .listing-container {
    max-width: 100%;
    padding: 1rem;
  }

  .listing-form {
    max-width: 100%;
    padding: 0 0.5rem;
  }

  .form-input {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .next-button {
    padding: 0.75rem 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .listing-container {
    max-width: 26rem;
  }

  .listing-form {
    max-width: 22rem;
  }

  .form-input {
    font-size: 1rem;
    padding: 0.5rem;
  }
}